<div class="float-end w-25 mt-3">
  <ejs-datepicker #tglStartPie id="tglStartPie" [value]='tglStart' (change)='setTgl($event,"start")' placeholder='Tanggal mulai' format='dd MMMM yyyy'></ejs-datepicker>
  <ejs-datepicker #tglEndPie id="tglEndPie" [value]='tglEnd' (change)='setTgl($event,"end")' placeholder='Tanggal selesai' format='dd MMMM yyyy'></ejs-datepicker>
  <button class="btn btn-outline-primary btn-sm" (click)='filter()'>
    <i class="fas fa-filter"></i> Filter
  </button>
</div>
<div class="float-start">
  <ejs-accumulationchart id="pie-pengiriman"
  width='80%'
  title='Analisa Peringkat Metode Pengiriman'
  [enableAnimation]='true'
  [tooltip]='tooltip'>
  <e-accumulation-series-collection>

    <e-accumulation-series
    name='Metode Pengiriman'
    [dataSource]='piedata'
    xName='x' yName='y'
    startAngle="0"
    endAngle="360"
    innerRadius="0%"
    radius="70%"
    explode='true'
    explodeOffset='10%'
    [explodeIndex]='0'
    pointColorMapping='color'
    [dataLabel]='datalabel'>
  </e-accumulation-series>
</e-accumulation-series-collection>
</ejs-accumulationchart>
</div>
